/* ADAPTIVE FOR TABLET */
@media only screen and (max-width: 768px){
  body {
    width: 768px;
  }
  /* Header adaptive */
  .header__content {
    width: 768px;
  }
  .header__logo {
    width: 105.44px;
    height: 10.88px;
    padding: 31px 0px 30.12px 8.34px;
  }
  .header_button_basket {
    padding: 24.91px 18.05px 25.35px 0px;
  }

  /* Main adaptive */
  .desktop__image {
    display: none;
  }
  .mobile__image {
    display: none;
  }
  .tablet__image {
    display: block;
  }
  .main__title-container {
    width: 432px;
    left: 8px;
  }
  .main__title {
    margin: 38px 0 0 46px;
  }
  .main__description {
    margin: 40px 0 46px 46px;
  }
  .main__button {
    margin: 32px 0 0 90px;
  }
  .main__menu {
    width: 768px;
  }
  .main__menu li {
    margin-left: 0;
    margin-right: 40px;
    margin-top: 15px;
  }
  .main__menu ul {
    justify-content: start;
    padding-left: 8px;
  }
  .main__menu-snacks_title {
    margin: 56px 0px 32px 8px;
  }
  .menu-snacks {
    width: 768px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 32px;
    margin: 0px 8px 48px 8px;
  }
  
  .snack {
    width: 752px;
    display: grid;
    grid-template-columns: 552px 200px;
    grid-template-rows: 80px 80px;
    border: 1px solid rgba(117, 117, 117, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
  }

  .snack__image {
    width: 200px;
    height: 160px;
  }
  .main__menu-hr {
    display: none;
  }
  
  /* Footer adaptive */
  .footer_content {
    width: 768px;
  }
  .footer__logo {
    margin: 56px 568.62px 40.31px 8.62px;
  }
  .footer__hr {
    width: 752px;
  }
  .footer__select-language {
    width: 176px;
  }  
  .footer__main-section {
    margin: 32px 175px 45px 8px;
  }
  .footer__end-section {
    margin: 40px 217px 0px 8px;
    padding-bottom: 40px;
  }
  .footer__end-section a{
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    text-decoration: none;
  }
}

/* ADAPTIVE FOR MOBILE */
@media only screen and (max-width: 320px){
  body {
    width: 320px;
  }

  /* Header adaptive */
  .header__content {
    width: 320px;
    height: 72px;
  }
  .header__logo {
    width: 105.44px;
    height: 10.88px;
    padding: 31px 0px 30.12px 8.34px;
  }
  .header__button_sign-in {
    width: 72px;
    font-size: 11px;
    line-height: 13px;
    margin: 16px 12px 16px 0px;
  }
  .header__button_register {
    width: 72px;
    font-size: 11px;
    line-height: 13px;
    margin: 16px 4px 16px 0px;
  }
  .header_button_basket {
    display: none;
  }

  /* Main adaptive */
  .main__content {
    width: 320px;
    padding-bottom: 41px;
  }
  .desktop__image {
    display: none;
  }
  .tablet__image {
    display: none;
  }
  .mobile__image {
    display: block;
  }
  .main__title-container {
    display: block;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    width: 308px;
    height: 180px;
    top: 131px;
    left: 8px;
  }
  .main__title {
    font-size: 24px;
    line-height: 28px;
    margin: 24px 48px 40px 49px;
  }
  .main__description {
    font-size: 14px;
    line-height: 16px;
    margin: 0px 90px 16px 91px;
  }
  .main__button {
    width: 98px;
    margin: 0px 105px 24px 105px;
  }
  .main__menu {
    display: none;
  }
  .main__menu-snacks_title {
    margin: 111.11px 118px 12px 118px;
  }
  .main__title-hr {
    display: block;
    width: 50px;
    margin-bottom: 30px;
  }
  .menu-snacks {
    width: 320px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    margin: 0;
  }
  .snack {
    width: 320px;
    display: grid;
    grid-template-columns: 218px 102px;
    grid-template-rows: 51px 51px 1px;
    border: none;
    margin-top: 14px;
  }
  .snack__title {
    font-size: 14px;
    line-height: 24px;
    margin: 0px 18px 0px 8px;
  }
  .snack__image {
    width: 102px;
    height: 102px;
  }
  .snack__price {
    margin: 15px 0px 16px 10px;
  }
  .main__menu-hr {
    display: inline;
    width: 306.99px;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  /* Footer adaptive */
  .footer_content {
    width: 320px;
  }
  .footer__logo {
    margin: 56px 0px 29px 8px;
  }
  .footer__hr {
    width: 304px;
  }
  .footer__main-section {
    display: block;
    margin: 32px 0px 20px 10px;
  }
  .footer__select-language {
    width: 173px;
    padding-left: 40px;
  }
  .footer__select-icon {
    position: absolute;
    top: 12px;
    left: 15px;
  }
  .footer__section-text {
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .footer__menu ul {
    padding: 0;
  }
  .footer__section-contacts {
    position: relative;
    margin-bottom: 31px;
  }
  .footer__menu li {
    padding-bottom: 23px;
  }
  .footer__end-section {
    display: block;
    margin: 30px 0px 40px 10px;
  }
  .footer__end-section a {
    display: block;
    padding-bottom: 28px;
  }
  .footer__end-section p {
    padding-bottom: 18px;
  }
}