/* ADAPTIVE FOR TABLET */
@media only screen and (max-width: 768px){
  body {
    width: 768px;
  }
  /* Header adaptive */
  .header__content {
    width: 768px;
  }
  .header__logo {
    width: 105.44px;
    height: 10.88px;
    padding: 31px 0px 30.12px 8.34px;
  }
  .header_button_basket {
    padding: 24.91px 18.05px 25.35px 0px;
  }
  
}