.header__content {
  width: var(--body-width-desktop);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 119.23px;
  height: 12.31px;
  padding: 30px 0px 29.69px 81.38px;
}

.header__buttons {
  display: flex;
}

.header__button_sign-in {
  width: var(--width-header-buttons-desktop);
  height: var(--height-header-buttons-desktop);
  background: var(--white-color);
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: 500;
  font-size: var(--font-size-header-buttons-desktop);
  line-height: var(--line-height-header-buttons-desktop);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 16px 16px 16px 0px;
}
.header__button_sign-in:hover {
  background: var(--buttons-hover-background);
  border-radius: 2px;
  color: var(--white-color);
}
.header__button_register {
  width: 80px;
  height: 40px;
  background: #262626;
  border-radius: 2px;
  font-weight: 500;
  font-size: var(--font-size-header-buttons);
  line-height: var(--line-height-header-buttons);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  margin: 16px 27px 16px 0px;
}
.header__button_register:hover {
  background: var(--buttons-hover-background);
  border-color: var(--buttons-hover-background);
  border-radius: 2px;
  color: var(--white-color);
}

.header_button_basket {
  width: 18.95px;
  height: 24px;
  background: url(../assets/basket.png) no-repeat;
  margin: 24.91px 97.05px 25px 0px;
  border: none;
}
.header_button_basket:hover {
  background: url(../assets/basket-green.png) no-repeat;
}
