@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);
@import url(./adaptive.css);

body {
  width: 1124px;
  padding: 0;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
}